<div class="py-10">
  <ng-container *ngIf="payment.openStripe">
    <!-- Display a payment form -->
    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button (click)="makePayment($event)" id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </ng-container>
  <ng-container *ngIf="payment.openSuccess">
    <div>
      <h1>Thank you successfully Paid.</h1>
    </div>
  </ng-container>
</div>
